.checkEligibilityButton {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
}

.checkEligibilityButton:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}