.optionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

.optionLong, .optionShort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.optionLong:hover, .optionShort:hover {
    transform: scale(1.05);
}

.optionLong {
    background-color: #4caf50;
    color: white;
}

.optionShort {
    background-color: #f44336;
    color: white;
}

.optionTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.optionDescription {
    font-size: 16px;
    text-align: center;
}