.optionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

.optionButton {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.optionButton.long {
    background-color: #4caf50;
}

.optionButton.long:hover {
    background-color: #45a049;
}

.optionButton.short {
    background-color: #f44336;
}

.optionButton.short:hover {
    background-color: #e53935;
}

.optionDisabled {
    opacity: 0.6;
    cursor: not-allowed;
}