.priceChartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.priceChart {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.priceChartHeader {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.priceChartFooter {
    font-size: 14px;
    color: #888;
    margin-top: 10px;
}