.tradingViewChart {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.tradingViewChart iframe {
    width: 100%;
    height: 100%;
    border: none;
}